<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright Camunda Services GmbH and/or licensed to Camunda Services GmbH under
  ~ one or more contributor license agreements. See the NOTICE file distributed
  ~ with this work for additional information regarding copyright ownership.
  ~ Licensed under the Camunda License 1.0. You may not use this file
  ~ except in compliance with the Camunda License 1.0.
  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.camunda.db.rdbms.sql.UserTaskMapper">

  <select id="findOne"
    parameterType="java.lang.Long"
    resultType="io.camunda.db.rdbms.write.domain.UserTaskDbModel">
    SELECT ut.USER_TASK_KEY,
           ut.FLOW_NODE_BPM_ID,
           ut.BPM_PROCESS_ID,
           ut.CREATION_TIME,
           ut.COMPLETION_TIME,
           ut.ASSIGNEE,
           ut.STATE,
           ut.FORM_KEY,
           ut.PROCESS_DEFINITION_KEY,
           ut.PROCESS_INSTANCE_KEY,
           ut.ELEMENT_INSTANCE_KEY,
           ut.TENANT_ID,
           ut.DUE_DATE,
           ut.FOLLOW_UP_DATE,
           ut.EXTERNAL_FORM_REFERENCE,
           ut.PROCESS_DEFINITION_VERSION,
           ut.CUSTOM_HEADERS,
           ut.PRIORITY
    FROM USER_TASK ut
    WHERE USER_TASK_KEY = #{key}
  </select>

  <insert
    flushCache="true"
    id="insert"
    parameterType="io.camunda.db.rdbms.write.domain.UserTaskDbModel">
    INSERT INTO USER_TASK (USER_TASK_KEY, FLOW_NODE_BPM_ID, BPM_PROCESS_ID, CREATION_TIME, STATE,
                           FORM_KEY,
                           PROCESS_DEFINITION_KEY, PROCESS_INSTANCE_KEY,
                           ELEMENT_INSTANCE_KEY, TENANT_ID, DUE_DATE, FOLLOW_UP_DATE,
                           EXTERNAL_FORM_REFERENCE, PROCESS_DEFINITION_VERSION, CUSTOM_HEADERS,
                           PRIORITY)
    VALUES (#{key}, #{flowNodeBpmnId}, #{bpmnProcessId}, #{creationTime}, #{state}, #{formKey},
            #{processDefinitionKey}, #{processInstanceKey}, #{elementInstanceKey}, #{tenantId},
            #{dueDate}, #{followUpDate},
            #{externalFormReference}, #{processDefinitionVersion}, #{serializedCustomHeaders},
            #{priority})
  </insert>

  <update
    flushCache="true"
    id="update"
    parameterType="io.camunda.db.rdbms.write.domain.UserTaskDbModel"
    statementType="PREPARED">
    UPDATE USER_TASK
    SET END_DATE = #{endDate},
    DUE_DATE = #{dueDate},
    <if test="state != null">
      STATE = #{state},
    </if>
    FOLLOW_UP_DATE = #{followUpDate},
    CUSTOM_HEADERS = #{serializedCustomHeaders},
    PRIORITY = #{priority}
    WHERE USER_TASK_KEY = #{key}
  </update>

</mapper>
